:root {
  --poppins: "Poppins", sans-serif;
  --noto_sans: "Noto Sans", sans-serif;
  --montserat: "Montserrat", sans-serif;
  --instrumen: "Instrument Sans", sans-serif;
  --button: #227df3;
  --background: #2f2f2f;
  --box: #444654;
  --font_head: #f6f6f6;
  --font: #111111;
}

body {
  background-color: #292b36;
}

.container {
  height: 4000px;
  margin: 0 auto;
}

header h1 {
  margin: 20px 0 0 100px;
  color: var(--font_head);
  font-family: var(--noto_sans);
}

article {
  display: flex;
  flex-direction: column;
}

form input {
  width: 55%;
  margin: 50px 0 0 34px;
  padding: 3px 8px 3px 8px;
  box-sizing: border-box;
  resize: none;
  border: 2px solid #ccc;
  border-radius: 4px;
  color: var(--font_head);
  background-color: #dddd;
}

article .btn button {
  margin: 10px 0 0 250px;
  padding: 5px 10px;
  color: var(--font);
  font-family: var(--noto_sans);
  color: white;
  background-color: var(--button);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.6);
}

ul {
  width: 80%;
  margin: 30px auto;
  background-color: #acacac;
  font-family: var(--noto_sans);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

ul li {
  width: 100%;
  list-style-type: none;
  position: relative;
  border-radius: 10px 0 0 10px;
  background-color: #f8f8f8;
  margin-top: 5px;
  padding: 0 0 0 5px;
  box-sizing: border-box;
}

ul li i {
  position: absolute;
  top: 3px;
  right: 10px;
  color: red;
  cursor: pointer;
}

ul li input {
  position: absolute;
  top: 2px;
  right: 26px;
}

@media screen and (min-width: 1000px) {
  header h1 {
    display: flex;
    justify-content: center;
  }

  form textarea {
    width: 600px;
    margin: 50px 0 0 400px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
  }

  article .btn button {
    margin: 10px 0 0 900px;
    padding: 3px 5px;
  }

  ul {
    width: 600px;
    margin: 50px 0 0 380px;
  }
}
